.search-box input[type = "search"]{
    width: 32rem;
    outline: none;
}

.search-box button{
    display: none;
}
.search-box input[type = "search"]:active{
outline: none
}


.ais-SearchBox-submit {
    display: none;
  }
  