.search-box input[type = "search"]{
    width: 37rem;
    outline: none;
    /* background-color: red; */
}

.search-box button{
    display: none;
}



.ais-SearchBox-submit {
    display: none;
  }
  