@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Quicksand', sans-serif;
}

.swal-button {
  background-color: #0c7e1b;
  color: #ffffff;
}

/* table {
  width: 100%;

  border-spacing: 0;
  border-bottom: 1px solid rgba(68, 67, 67, 0.2);

  font-size: 13px;
  table-layout: fixed;
} */

/* .table {
  table-layout: fixed;
} */

/* tbody tr:last-child {
  border-bottom: none;
} */

/* tbody tr {
  cursor: pointer;
} */

/* tbody tr:hover {
  background-color: rgba(68, 67, 67, 0.1);
} */

/* .table th,
.table td {
  width: 25%; 

  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
} */

/* td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(68, 67, 67, 0.2);
  border-right: none;
} */

/* th:last-child,
td:last-child {
  border-right: 0;
} */
/* th {
  top: 0;
  position: sticky;
  background-color: white;
  border-bottom: 1px solid rgba(68, 67, 67, 0.2);
  padding: 0.5rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 1);
} */

.ant-btn {
  background-color: rgb(49, 131, 49);
  color: white;
}

.ant-btn:hover {
  background-color: white !important;
  outline: 1px solid rgb(127, 220, 127) !important;
  color: black !important;
  border: none !important;
}

.ant-input-search .ant-input:focus {
  border-color: rgb(127, 220, 127) !important;
}

.ant-input-search .ant-input:hover {
  border-color: rgb(127, 220, 127) !important;
}

.ant-pagination .ant-pagination-item-active {
  border-color: rgb(127, 220, 127) !important;
}
.ant-pagination .ant-pagination-item-active a {
  color: green;
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary) {
  color: white;
}
